<%- include('./partials/head.ejs'); %>
<body>
<div class="container-js">
    <%- include('./partials/header.ejs'); %>

    <section class="hero hero-header-background is-small">
        <div class="hero-body has-text-centered">
            <p class="hero-styling"><%=headertitle%></p>
        </div>
    </section>

    <div class="container">
        <section class="section">

            <article class="message is-primary">
                <div class="message-body">
                    <p><%=line1%></p>
                    <br />
                    <p><%=line2%></p>
                    <br />
                    <a href="<%=link%>">Return to Management Page</a>
                </div>
            </article>

        </section>

    </div>

    <%- include('./partials/footer.ejs'); %>

</div>
</body>
</html>