<%- include('./partials/head.ejs'); %>
<body>
<div class="container-js">
    <%- include('./partials/header.ejs'); %>

    <section class="hero hero-header-background is-small">
        <div class="hero-body has-text-centered">
            <p class="hero-styling">Product List</p>
        </div>
    </section>

    <div class="container mt-6">
        <form>
            <div class="field has-addons search-field">
                <form method="post">
                    <input class="input input-styled" type="text" placeholder="Search" id="searchInput">
                    <div class="control"><button class="button submit-button" id="searchProduct">Search</button></div>
                </form>

            </div>
        </form>
    </div>

    <div class="container" style="margin-top: 60px; margin-bottom: 40px">
        <%if(result.length > 0){%>
        <table class="table table-hover admin-product-table" style="width: 100%" >
            <thead>
            <tr>
                <th width="250"></th>
                <th>Name</th>
                <th>Description</th>
                <th>Sizes</th>
                <th>Price per size</th>
            </tr>
            </thead>
            <tbody>
            <%result.forEach(function(element) { %>
            <tr>
                <td class="table-image-col">
                    <img src="<%=path.join('../img/products/' + element.image)%>">
                </td>
                <td><%=element.name%></td>
                <td><%=element.description%></td>
                <td>
                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link"><% if(element.sizes.length>=1){ %>  <%=element.sizes[0].size%> <% } %> </a>
                            <div class="navbar-dropdown">
                                <% for(var i=1; i<element.sizes.length; i++) {%>
                                <a class="navbar-item"><%=element.sizes[i].size%></a>
                                <hr class="navbar-divider" />
                                <% }%>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link"><% if(element.sizes.length>=1){ %>  <%=element.sizes[0].price%> <% } %> </a>
                            <div class="navbar-dropdown">
                                <% for(var i=1; i<element.sizes.length; i++) {%>
                                <a class="navbar-item"><%=element.sizes[i].price%></a>
                                <hr class="navbar-divider" />
                                <% }%>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <a href="/admin/admin-edit-product/<%=element._id%>" class="button submit-button is-small">Modify</a>
                </td>
                <td>
                    <a href="/admin/admin-delete-product/<%=element._id%>" class="button submit-button is-small">Delete</a>
                </td>
            </tr>
            <% });%>
            </tbody>

        </table>
        <%} else{%>
            <p class="hero-styling has-background-grey-lighter" style="font-size: 30px; text-align: center; margin-bottom: 70px;">No products found</p>
        <%}%>
        <a href="/admin/admin-add-product" class="button submit-button is-medium">Add Product</a>

    </div>

    <%- include('./partials/footer.ejs'); %>


</div>
</body>
</html>