<%- include('./partials/head.ejs'); %>
<body>
<div class="container-js">
    <%- include('./partials/header.ejs'); %>

    <section class="hero hero-header-background is-small">
        <div class="hero-body has-text-centered">
            <p class="hero-styling">Active Orders</p>
        </div>
    </section>

    <div class="container mt-6">
        <form>
            <div class="field has-addons search-field">
                <form method="post">
                    <input class="input input-styled" type="text" placeholder="Search">
                    <div class="control"><button type="submit" class="button submit-button">Search</button></div>
                </form>

            </div>
        </form>
    </div>



    <div class="container">
        <table class="table" style="width:100%">
            <thead>
            <tr>
                <th>ORDER NUMBER</th>
                <th>NAME</th>
                <th>AMOUNT</th>
                <th>STATUS</th>
            </tr>
            </thead>
            <tbody>
            <% if(result != null) result.forEach(function(element) { %>
            <tr>
                <th><%=element.orderId%></th>
                <td><%=element.name%></td>
                <td><%=element.subtotal%>
                <td><%=element.status%></td>
                <td>
                    <span class="icon-text">
                        <span class="icon">
                            <a href="admin-order-details/<%=element.orderId%>"><i class="fas fa-info-circle"></i></a>
                        </span>
                    </span>
                </td>
            </tr>
            <% });%>
            </tbody>
        </table>
    </div>

    <%- include('./partials/footer.ejs'); %>

</div>
</body>
</html>