<%- include('./partials/head.ejs'); %>
<body>
<div class="container-js">
    <%- include('./partials/header.ejs'); %>

    <section class="hero hero-header-background is-small">
        <div class="hero-body has-text-centered">
            <p class="hero-styling"><%=headertitle%></p>
        </div>
    </section>

    <div class="container mt-6">
        <form>
            <div class="field has-addons search-field">
                    <input class="input input-styled" type="text" placeholder="Search" id="searchInput">
                    <%if(headertitle === 'Active Orders'){%>
                        <div class="control"><button class="button submit-button" id="searchOrders">Search</button></div>
                    <%} else {%>
                        <div class="control"><button class="button submit-button" id="searchOrders2">Search</button></div>
                    <%}%>
            </div>
        </form>
    </div>



    <div class="container">
        <table class="table" style="width:100%">
            <thead>
            <tr>
                <th>ORDER NUMBER</th>
                <th>NAME</th>
                <th>AMOUNT</th>
                <th>STATUS</th>
                <th>VIEW</th>
            </tr>
            </thead>
            <tbody>
            <% if(result != null) result.forEach(function(element) { %>
            <tr>
                <td><%=element.orderId%></td>
                <td><%=element.name%></td>
                <td><%=element.subtotal%>
                <td>
                    <% if(element.status == 'pending') { %>
                        <span class="tag is-warning">Processing</span>
                    <% } else if(element.status == 'completed') {%>
                        <span class="tag is-primary">Delivered</span>
                    <% } else if(element.status == 'cancelled') {%> 
                        <span class="tag is-danger">Cancelled</span>
                    <% } else if(element.status == 'passed') {%>
                            <span class="tag is-danger">Passed</span>
                        <% } %>
                </td>
                <td>
                    <a class="button submit-button is-small" href="<%- path.join('/admin/details/' + element.orderId) %>">View</a>
                </td>
            </tr>
            <% });%>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>