<%- include('./partials/head.ejs'); %>
<body>
    <div class="container-js">
        <%- include('./partials/header.ejs'); %>
        <section class="hero hero-header-background is-small">
            <div class="hero-body has-text-centered">
                <p class="hero-styling">Shop</p>
            </div>
        </section>

        <div class="container">
            <section class="section">
                <div class="columns">
                <%- include('./partials/accountMenu.ejs'); %>
                    <div class="column"">
                        <div id="errors">

                        </div>
                        <div class="myaccount-container" id="cart">
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-content">
                                        <p class="title">My Cart</p> 
                                    </div>
                                </div>
                            </div>
                            <hr class="is-divider">
                            <% if(cartContent.length < 1) { %>
                                <p>Your cart is currently empty. <a href='/products'>Continue Shopping</a></p>
                            <% } else { %>
                                <table class="table is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>Quantity</th>
                                            <th>Product Name</th>
                                            <th>Price per Piece</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% cartContent.forEach(function(element) { %>
                                            <tr>
                                                <td style="display: none" id="productId"><%= element.productId %></td>
                                                <td><%= element.quantity %></td>
                                                <td><%=element.productName %></td>
                                                <td><%=element.price / element.quantity %></td>
                                                <td><%= element.price %></td>
                                                <td><button class="button submit-button is-small" id="deleteCartItem">Delete</button></td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>

                                <div class="level">
                                    <div class="level-left">
                                        <p class="is-small">
                                            *Note: All our goods are VAT-Inclusive (12% Added Value Tax)
                                            <br />
                                            *Delivery only available with Metro Manila. Standard Delivery Fee of P150 applies.
                                        </p>
                                    </div>
                                    <div class="level-right">
                                        <div class="level-item">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Subtotal: </th>
                                                        <td><%=subtotal%></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Delivery: </th>
                                                        <td><%=delivery%></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Total: </th>
                                                        <td><%=total%></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <% if(cartContent.length > 0) { %>
                                    <div class="container px-0 has-text-right-desktop"><a class="button is-medium submit-button" href="/checkout">Proceed to Checkout</a></div>
                                <% } %>
                            <% } %>
                        </div>
                        </div>
                    </div>
                </div>

            </section>
            <%- include('./partials/footer.ejs');%>
        </div>

    </div>