<%- include('./partials/head.ejs'); %>
<div class="container-js">
    <%- include('./partials/header.ejs'); %>
	<section class="hero hero-header-background is-small">
		<div class="hero-body has-text-centered">
			<p class="hero-styling">My Account</p>
		</div>
	</section>
	<div class="container">
		<section class="section">
            <div class="columns">
                <%- include('./partials/accountMenu.ejs'); %>
                <div class="column">
                    
                    <% if(error == "success") { %>
                        <div class="notification is-success">
                            <p>Successfully Updated Profile.</p>
                        </div>
                    <% } else if(error != null && error != 'success') { %>
                        <div class="notification is-danger">
                            <p><%=error%></p>
                        </div>  
                    <% } %>

                    <p class="title">Edit my Account</p>
                    <hr class="is-divider" />
                    <form id="editAccount" method="post" action="/editAccount">
                        <div class="columns">
                            <div class="column">
                                <label class="label">New Name</label>
                                <input type="text" class="input input-styled" name="newName" placeholder="New Name" value="<%=result.fullName %>" />
                                <label class="label">New Email Address</label>
                                <input type="text" class="input input-styled" name="newEmail" placeholder="New Email" value="<%=result.email %>" />
                                <div class="block"></div>
                                <label class="label">New Contact Number</label>
                                <input type="text" class="input input-styled" name="newContact" placeholder="New Contact Number" value="<%=result.contact %>" />
                                <label class="label">New Alternative Contact Number</label>
                                <input type="text" class="input input-styled" name="newAlternativeContact" placeholder="New Alternative Contact Number" value="<%=result.alternativeContact %>" />
                            </div>
                            <div class="column">
                                <label class="label">New Delivery Address</label>
                                <input type="text" class="input input-styled" name="newDelivery" placeholder="New Delivery Address" value="<%=result.deliveryAddress %>" />
                                <div class="block"></div>
                                <label class="label">New Billing Address</label>
                                <input type="text" class="input input-styled" name="newBilling" placeholder="New Billing Address" value="<%=result.billingAddress %>" />
                                <div class="block"></div>
                            </div>
                        </div>
                        <div class="container has-text-centered"><button class="button is-large submit-button">Submit</button></div>

                    </form>
                </div>
        </div>

		</section>
    </div>

</div>
