<%- include('./partials/head.ejs'); %>
<body>
    <div class="container-js">
        <%- include('./partials/header.ejs');%>
        <section class="hero hero-header-background is-small">
            <div class="hero-body has-text-centered">
                <p class="hero-styling">My Account</p>
            </div>
        </section>

        <div class="container">
            <section class="section">
                <div class="columns">
                    <%- include('./partials/accountMenu.ejs'); %>
                    <div class="column">
                        <div id="errors">
                        </div>
                        <div class="myaccount-container">
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-content">
                                        <p class="title">My Favorites</p> 
                                    </div>
                                </div>
                            </div>
                            <hr class="is-divider">
                                <table class="table is-fullwidth" id="favorites">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% result.forEach(function(element) { %>
                                            <tr>
                                                <td style="display: none;" id="productId"><%=element.productId%></td>
                                                <td><div class="image is-3by2"><img src="<%=path.join('../img/products/' + element.productImage); %>"></div></td>
                                                <td><%=element.productName %></td>
                                                <td><button class="button submit-button is-small" id="removeFavorites">Remove</button></td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%- include('./partials/footer.ejs');%>
    </div>
