<%- include('./partials/head.ejs');%>
<div class="container-js">
    <%- include('./partials/header.ejs');%>

	<section class="hero hero-header-background is-small">
		<div class="hero-body has-text-centered">
			<p class="hero-styling">Our Products</p>
		</div>
	</section>

	<!--Search Bar-->
	<div class="container pb-0">
	</div>
    <section class="section">
        <div class="columns">
            <div class="column">
                <figure class="image is-3by2 product-page-image">
                    <image src="<%=path.join('../img/products/' + result.image)%>"></image>
                </figure>
            </div>
            <div class="column">
                <div id="errors">
                    <% if(error.length > 0) { %>
                        <% error.forEach(function(element) { %>
                            <div class="message is-danger">
                                <div class="message-body">
                                    <p><%=element.msg%></p>
                                </div>    
                            </div>
                        <% }); %>
    
                    <% } %>
                </div>
                <p class="title product-page-title"><%=result.name %></p>
                <p class="subtitle product-page-price">₱<%= result.sizes[0].price %></p>
                <p class="subtitle"><%=result.description %></p>
                <p></p>
                <form>
					<div class="select select-styled is-warning">
						<select class="select-styled" id="sizes">
                            <% result.sizes.forEach(function(element) { %>
                                <option><span><%=element.size %></span> @ <span><%=element.price %></span>PHP</option>
                            <%  }) %>
						</select>
					</div>
                    <div class="block"></div>
					<div class="field has-addons">
                        <% if(loggedIn == true)  {%>
                            <div class="control">
                                <button class="button submit-button" id="addToCart">Add to Cart</button>
                                <span id="favorites">
                                    <% if(isFavorite == false) { %>
                                        <button class="button submit-button" id="addToFavorites">Add to Favorites</button>
                                    <% } else { %>
                                        <button class="button submit-button" id="removeFromFavorites">Remove from Favorites</button>
                                    <% } %>
                                </span>

                                
                            </div>
                        <% } else { %>
                            <p>You must be logged in to make an order.</p>
                        <% } %>
                    </div>
                </form>
                <hr class="is-divider"/>
                <div id="reviews">
                    <p class="title">Reviews</p>

                    <% if(result.reviews.length == 0) { %>
                        <p>No Reviews Available for this Product.</p>
                        <br />
                    <% } %>
    
                    <% result.reviews.forEach(function(element) { %>
                        <article id="reviewArticle" class="media">
                            <div id="content" class="content">
                                <form id="reviewForm">
                                <p id="fullName" class="title is-6"><%=element.fullName%></p>
                                <p id="reviewcontents"><%=element.review%></p>
                                <div id="input" style="margin-top: 10px" hidden><button type="submit" class="button submit-button is-small" name="Submit" id="saveReview">Save</button></div>
                                </form>
                            </div>
                            <% if(userId === element.userId) { %>
                                <div class="media-right dropdown is-hoverable">
                                    <span class="material-icons">more_horiz</span>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-content">
                                            <div class="dropdown-item"5><a id="editReview">Edit</a></div>
                                            <div class="dropdown-item"><a id="deleteReview">Delete</a></div>
                                        </div>
                                    </div>
                                </div>
                            <%}%>	
                        </article>
                    <% }) %>
                </div>
                <hr />
                <div>
                    <% if(loggedIn == true) { %>
                        <article class="media">
                            <div class="media-content">
                                <form>
                                    <textarea id="review-body" name="review" class="textarea input-styled" placeholder="Add a Review..."></textarea>
                                    <div class="block"></div>
                                    <div class="control">
                                        <input type="submit" class="button submit-button" name="Submit" id="addReview">
                                    </div>
                                </form>
                            </div>
                        </article>
                    <% } else { %>
                        <article class="media">
                            <div class="media-content">
                                <p>You must be logged in to write a review. <a href="/login">Login here.</a></p>
                            </div>
                        </article>
                    <% } %>
            </div>
                </div>  
        </div>
    </section>
    <%- include('./partials/footer.ejs');%>
</div>

<script>
    var productId = <%= result.productId %>;
    var userId = '<%=userId%>';
</script>