<%- include('./partials/head.ejs');%>
<div class="container-js">
    <%- include('./partials/header.ejs');%>

    <section class="hero hero-header-background is-small">
        <div class="hero-body has-text-centered">
            <p class="hero-styling">Our Products</p>
        </div>
    </section>

    <!--Search Bar-->
    <div class="container pb-0">
        <form>
            <div class="field has-addons search-field">
                <input class="input input-styled" type="text"placeholder="Search" id="searchInput">
                <div class="control"><button class="button submit-button" id="search">Search</button></div>
            </div>
        </form>
    </div>

    <section class="section">
        <% if(result.length < 1) { %>
            <div class="container">
                <article class="message is-danger">
                    <div class="message-body">
                        <p>No products found.</p>
                    </div>
                </article>
            </div>
           
        <% } else {%>
        <div class="columns">
            <% result.forEach(function(element) { %>
                <div class="column is-one-fifth-desktop">
                    <div class="card ourproducts-card">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <img src="<%=path.join('./img/products/' + element.image)%>">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p class="title title-product"><%=element.name%></p>
                                
                                <p class="subtitle subtitle-product"><%=element.description%></p>
                            </div>
                        </div>
                        <footer class="card-footer card-footer-no-border">
                            <a class="card-footer-item button submit-button content-item-button" href="<%-path.join('products/' + element.productId);%> ">See more</a>
                        </footer>
                    </div>
                </div>
        <% }); %>
        <% }%>
        </div>
    </section>
    <%- include('./partials/footer.ejs');%>
</div>
